In [49]:
import pandas as pd
	
#load dataframe from csv
df = pd.read_csv("Product3.csv")

#print dataframe
df

,Product type,Product Name,Products Qty,Product Price
0,Chips,NaN,NaN,NaN
1,NaN,Cheetos,5.0,R6.00
2,NaN,Cool Ranch Doritos,10.0,R6.00
3,NaN,Fritos Corn,15.0,R10.00
4,NaN,Funyuns,20.0,R10.00
5,NaN,Lays BBQ Potato Chips,10.0,R6.00
6,Cooldrinks,NaN,NaN,NaN
7,NaN,Coca-Cola Orange Vanilla,12.0,R12.00
8,NaN,Diet Coke Lime,12.0,R15.00
9,NaN,Diet coke Plus,12.0,R15.00
10,NaN,Fanta,12.0,R11.00
11,NaN,Delaware,12.0,R13.00
12,Pies,NaN,NaN,NaN
13,NaN,Aloo pie,25.0,R10.00
14,NaN,Apple Crisp,25.0,R10.00
15,NaN,Apple pie,25.0,R10.00
16,NaN,Australian pie,25.0,R10.00
17,NaN,Meat pie,25.0,R10.00
18,Chocolates,NaN,NaN,NaN
19,NaN,After Eight,30.0,R7.00
20,NaN,Aero Orange,30.0,R7.00
21,NaN,Star,30.0,R8.00
22,NaN,Musketeers,30.0,R10.00
23,NaN,Aero,30.0,R7.00
24,Fruits,NaN,NaN,NaN
25,NaN,Akee,10.0,R7.00
26,NaN,Apple,50.0,R5.00
27,NaN,Apricot,50.0,R4.00
28,NaN,Avaocado,50.0,R10.00
29,NaN,Blueberry,10.0,R10.00
30,Cupcakes,NaN,NaN,NaN
31,NaN,Apple pie Cupcakes,10.0,R25.00
32,NaN,Sprinkles? Strawberry Cupcakes,10.0,R25.00
33,NaN,Bubbly Champagne Cupcakes,10.0,R25.00
34,NaN,Butterbeer Cupcakes,10.0,R25.00
35,NaN,Lemon Cupcakes With Lavender Frosting,10.0,R25.00
36,Vegies,NaN,NaN,NaN
37,NaN,Red Chard,10.0,R25.00
38,NaN,chayote - chowchow,10.0,R25.00
39,NaN,Butternut Squash,10.0,R13.00
40,NaN,Brussels sprouts,10.0,R13.00
41,NaN,Broccoli,10.0,R12.00

In [50]:
import pandas as pd

# using header argument
df = pd.read_csv('Product3.csv', header=None)

df

,0,1,2,3
0,Product type,Product Name,Products Qty,Product Price
1,Chips,NaN,NaN,NaN
2,NaN,Cheetos,5,R6.00
3,NaN,Cool Ranch Doritos,10,R6.00
4,NaN,Fritos Corn,15,R10.00
5,NaN,Funyuns,20,R10.00
6,NaN,Lays BBQ Potato Chips,10,R6.00
7,Cooldrinks,NaN,NaN,NaN
8,NaN,Coca-Cola Orange Vanilla,12,R12.00
9,NaN,Diet Coke Lime,12,R15.00
10,NaN,Diet coke Plus,12,R15.00
11,NaN,Fanta,12,R11.00
12,NaN,Delaware,12,R13.00
13,Pies,NaN,NaN,NaN
14,NaN,Aloo pie,25,R10.00
15,NaN,Apple Crisp,25,R10.00
16,NaN,Apple pie,25,R10.00
17,NaN,Australian pie,25,R10.00
18,NaN,Meat pie,25,R10.00
19,Chocolates,NaN,NaN,NaN
20,NaN,After Eight,30,R7.00
21,NaN,Aero Orange,30,R7.00
22,NaN,Star,30,R8.00
23,NaN,Musketeers,30,R10.00
24,NaN,Aero,30,R7.00
25,Fruits,NaN,NaN,NaN
26,NaN,Akee,10,R7.00
27,NaN,Apple,50,R5.00
28,NaN,Apricot,50,R4.00
29,NaN,Avaocado,50,R10.00
30,NaN,Blueberry,10,R10.00
31,Cupcakes,NaN,NaN,NaN
32,NaN,Apple pie Cupcakes,10,R25.00
33,NaN,Sprinkles? Strawberry Cupcakes,10,R25.00
34,NaN,Bubbly Champagne Cupcakes,10,R25.00
35,NaN,Butterbeer Cupcakes,10,R25.00
36,NaN,Lemon Cupcakes With Lavender Frosting,10,R25.00
37,Vegies,NaN,NaN,NaN
38,NaN,Red Chard,10,R25.00
39,NaN,chayote - chowchow,10,R25.00
40,NaN,Butternut Squash,10,R13.00
41,NaN,Brussels sprouts,10,R13.00
42,NaN,Broccoli,10,R12.00