In [1]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

In [2]:


import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chips(products VARCHAR(255), price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chips' already exists

In [3]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chocolate(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chocolate' already exists

In [4]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE sweetie(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'sweetie' already exists

In [11]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE vegies(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

In [12]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE drinks(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

In [13]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE cupcakes(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

In [16]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

('chips',)
('chocolate',)
('cupcakes',)
('customers',)
('drinks',)
('employee',)
('employees',)
('myproducts',)
('product3',)
('production',)
('sweetie',)
('vegies',)

In [15]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Myproducts(price VARCHAR(255), available VARCHAR(255), total VARCHAR(255), cost VARCHAR(255), totalc VARCHAR(255))")

In [18]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Pangalele@123",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'